# write what you do not want to organize via git
task1_2_venv/bin
task1_2_venv/db.sqlite3
task1_2_venv/include
task1_2_venv/lib
task1_2_venv/manage.py
task1_2_venv/pip-selfcheck.json
task1_2_venv/pyenv.cfg
task1_2_venv/.DS_Store
*py[co]
